# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/exercises/week_1/day-1/basics/week1-day1/nbproject/private/
/exercises/week_1/day-1/basics/week1-day1/build/
/exercises/week1-day1/nbproject/private/
/exercise_solutions/week1_Day2/nbproject/private/
/exercise_solutions/week1_Day2/build/
/exercise_solutions/week1_day2_Part2/nbproject/private/
/exercise_solutions/week1_day2_Part2/build/
/exercise_solutions/Week1_Day3/nbproject/private/
/exercise_solutions/Week1_Day3/build/
/exercise_solutions/Week1_Day4/nbproject/private/
/exercise_solutions/Week1_Day4/build/
/exercise_solutions/Week1_Day5/nbproject/private/
/exercise_solutions/Week1_Day5/build/
